.row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-12.xs-no-padding
        .panel.panel-default
            error-message-box( validation-errors="validationErrors" )
            .panel-body
                h3.text-center
                    | {{locale['form'].page['register'].title}}
                form(novalidate ng-submit="register()")
                    .row
                        .col-sm-6.col-xs-12
                            form-input-tag(
                                model="user.profile.firstName"
                                label="First Name"
                                required="true")
                        .col-sm-6.col-xs-12
                            form-input-tag(
                                model="user.profile.lastName"
                                label="Last Name"
                                required="true")
                    .row
                        .col-sm-6.col-xs-12
                            form-input-tag(
                                model="user.email"
                                label="{{locale['form'].label['shared'].email}}"
                                required="true"
                                icon="envelope"
                                regex="validate['email']")
                        .col-sm-6.col-xs-12
                            form-input-tag(
                                model="user.password"
                                type="password"
                                label="{{locale['form'].label['shared'].password}}"
                                required="true" icon="lock")

                    .form-group.ng-hide(ng-show="error")
                        .red.bold.margin {{error}}

                    .row 
                        .col-sm-8.col-sm-offset-2.col-xs-12.form-group.text-center
                            |   By clicking Register, you agree to our
                            a(ui-sref='terms')
                                |   Terms &amp; Conditions,
                            |   and have read our
                            a(ui-sref='policy')
                                |   Privacy Policy,
                            |   as well as our
                            a(ui-sref='cookies')
                                |   Cookie Policy
                    button.btn.btn-block.btn-primary.btn-lg( type="submit" )
                        |   Register
                br
                br
                .form-group.text-center
                    p.text-center
                        | {{locale['form'].page['register'].haveAccount}}
                    a.btn.btn-default( href="#/login")
                        | {{locale['form'].page['register'].login}}