doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
    head
        meta(charset="utf-8")
        title(itemprop="name")
            if( typeof article !== 'undefined')
                = article.title
            else
                |Which Degree: Higher Education Insights
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        if( typeof article !== 'undefined')
            meta(name="description" content="#{article.deck}")
            <!-- Open Graph Metatags -->
            meta( property="og:type" content="article" )
            meta( property="og:title" content="#{article.title}")
            meta( property="og:description" content="#{article.deck}")
            meta( property="og:site_name" content="Which Degree")
            meta( property="fb:app_id" content="" )
            meta( property="og:url" content="http://www.whichdegree.com/article/${article.link}" )
            <!-- Twitter Card Metatags -->
            meta( name="twitter:creator" content="@whichdegree")
            meta( name="twitter:title" content="#{article.title}")
            meta( name="twitter:description" content="#{article.deck}")
            meta( name="twitter:site" content="@whichdegree")

        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        //base( href="/adminLTE")

        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon" href="/assets/img/icon.png")

        link(href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css")
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css')

        link( href="/assets/static/assets/css/reset.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/reset.css" rel="stylesheet" type="text/css")
        link( href="/assets/css/application.css" rel="stylesheet" type="text/css")

        link( href="/assets/static/assets/css/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/magnific-popup.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/jquery.fs.wallpaper.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/animate.css" rel="stylesheet" type="text/css")
        link( href="/assets/static/assets/css/plugins/hero-carousel.css" rel="stylesheet" type="text/css")

        link( href="/assets/static/assets/css/vitality-orange.css" rel="stylesheet" type="text/css")
        script( src="/assets/static/assets/js/plugins/angular.js")
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        script( src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script( src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
        style
            | body { background: #fff; }
            | .article-body p:first-child::first-letter { font-size: 55px; float: left; margin: 8px 0px 0px 0; line-height: 40px; }
            if( typeof article !== 'undefined' && typeof article.coverImage !== 'undefined' )
                | .navbar-expanded { background: transparent !important; }
                | .nav h1, nav ul li a { text-shadow: 1px 1px 1px #000; }
    body
        nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded.bg-black
            div.container
                <!-- Brand and toggle get grouped for better mobile display -->
                div.navbar-header
                    button.navbar-toggle( data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button")
                        span.sr-only
                            |   Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/")
                        h1(style="text-transform: none;margin: 12px 0;font-size: 21pt;")
                            |   Which Degree
                <!-- Collect the nav links, forms, and other content for toggling -->
                div.collapse.navbar-collapse( id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href="#page-top")
                        li
                            a(href="/#about")
                                |   About
                        li
                            a(href="/#contact")
                                |   Contact

        if( typeof article !== 'undefined')
            .bg-gray.text-center(style="margin-top: 110px; padding: 50px 0 10px;")
                if( typeof article.coverImage !== 'undefined' )
                    figure
                        img(src="#{article.coverImage.url}" style="max-width: 100%; margin-top: -170px")
                        figcaption(class="credit")
                .container
                    h1= article.title
                    p= article.deck
                    .row
                        .col-xs-4.col-xs-offset-2
                            p.bg-green
                                b
                                    span= article._doc.owner.profile.firstName + ' '
                                    span= article._doc.owner.profile.lastName
                        .col-xs-4
                            p.bg-yellow
                                b #{created( article.created )}
            .container
                hr
                .col-md-9.article-body
                    each section in article.sections
                        p!= section.body
                .col-md-3.other-article( ng-app='otherArticles')
                    .row( ng-controller="OtherArticlesController")
                        .col-xs-12
                            p(ng-repeat='article in otherArticles')
                                a(href="/article/{{article.link}}")
                                    |   {{article.title}}
        else
            | Article Not Found!

    //script(src="/assets/js/utils.js")
    script( src="/assets/static/assets/js/jquery.js")
    script( src="/assets/static/assets/js/bootstrap/bootstrap.min.js")
        <!-- Plugin Scripts -->
    script( src="/assets/static/assets/js/angular/other-articles.js")