.row
    .col-xs-12.xs-no-padding
        .panel.panel-default.no-margin
            error-message-box( validation-errors="validationErrors" )
            .panel-body
                h3.text-center
                    | New Network
                form(novalidate)
                    .form-group
                        label
                            |   Cover Image
                        br
                        small(ng-show="!network._id")
                            |   Image upload available after article created
                        div(ng-show="network._id")
                            media( media="network.coverImage" container='network' actions="mediaActions" icon="fa-photo")
                    form-input-tag(
                        model="network.name"
                        label="Name"
                        required="true")
                    .row
                        .col-xs-6
                            .form-group
                                label
                                    |  Private Network
                                input( type="checkbox" ng-model="network.isPrivate" i-check)
                        .col-xs-6
                            .form-group
                                label
                                    |  Protected Network
                                input( type="checkbox" ng-model="network.isProtected" i-check)
                    .form-group(ng-if="access.indexOf('sudo') !== -1")
                        label
                            |   Owner:&nbsp;
                        .pull-right(ng-show="!has['owner']")
                            |   me ?
                            input( type="checkbox" ng-model="has['owner']" ng-click="selectUser(null, 'owner', 1)" i-check)
                        span.bg-red.label(ng-show="has['owner']" style="padding-right: 20px; position: relative")
                            i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer;position: absolute; right: 0; top: -1px" ng-click="removeUser( null , 'owner' )")
                            |   {{network.owner.profile.firstName}} {{network.owner.profile.lastName}} &lt;{{network.owner.email}}&gt;
                        div(ng-show="!has['owner']")
                            auto-complete(input-model="tempOwner" placeholder="Add Owner" auto-complete-http="getUsers"
                                selected="selectUser" hash="owner" single="1" )
                    .form-group(ng-show="has['members']")
                        label
                            | Members
                        div
                            span.bg-blue( ng-repeat="member in network.members track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" )
                                i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeUser(member._id, 'members')")
                                |   {{member.profile.firstName}} {{member.profile.lastName}} &lt;{{member.email}}&gt;

                    auto-complete(input-model="tempMember" placeholder="Members" auto-complete-http="getUsers"
                        selected="selectUser" hash="members")
                    .form-group(ng-show="has['admins']")
                        label
                            | Moderators
                        div
                            span.bg-blue( ng-repeat="admin in network.admins track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" )
                                i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeUser(admin._id, 'admins')")
                                |   {{admin.profile.firstName}} {{admin.profile.lastName}} &lt;{{admin.email}}&gt;

                    auto-complete(input-model="tempAdmin" placeholder="Moderators" auto-complete-http="getUsers"
                        selected="selectUser" hash="admins")
                    hr
            .panel-footer
                .row
                    .col-sm-4.col-md-3
                        button.btn.btn-block.btn-danger.btn-lg(ng-click="remove(network._id)" ng-show="network._id")
                            |   Remove
                    .col-sm-4.col-md-3.col-md-offset-3
                        a.btn.btn-block.btn-default.btn-lg(data-dismiss="modal" aria-label="Close")
                            |   Cancel
                    .col-sm-4.col-md-3.text-center(ng-class="{true: 'col-md-offset-3'}[ network._id ]")
                        button.btn.btn-block.btn-primary.btn-lg(ng-click="save()")
                            |   {{network._id ? 'Save' : 'Create'}}