.row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .panel.panel-default
            error-message-box( validation-errors="validationErrors" )
            .panel-body
                h3.text-center
                    | Add Network
                form(novalidate ng-submit="network._id ? update() : add()")
                    form-input-tag(
                        model="network.name"
                        label="Name"
                        required="true")
                    .row
                        .col-xs-6
                            .form-group
                                label
                                    |  Private Network
                                input( type="checkbox" ng-model="network.isPrivate" i-check)
                        .col-xs-6
                            .form-group
                                label
                                    |  Protected Network
                                input( type="checkbox" ng-model="network.isProtected" i-check)
                    .form-group(ng-show="access.indexOf('sudo') !== -1")
                        label
                            |   Owner:&nbsp;
                        span.bg-red.label(ng-show="hasOwner" style="padding-right: 20px; position: relative")
                            i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer;position: absolute; right: 0; top: -1px" ng-click="removeOwner( )")
                            |   {{network.owner.profile.firstName}} {{network.owner.profile.lastName}} &lt;{{network.owner.email}}&gt;
                        div(ng-show="!hasOwner")
                            auto-complete(input-model="tempOwner" placeholder="Add Owner" auto-complete-http="getUsers"
                                selected="selectOwner")
                    .form-group(ng-show="hasMembers")
                        label
                            | Members
                        div
                            span.bg-blue( ng-repeat="member in network.members track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" )
                                i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeMember(member._id)")
                                |   {{member.profile.firstName}} {{member.profile.lastName}} &lt;{{member.email}}&gt;

                    auto-complete(input-model="tempMember" placeholder="Members" auto-complete-http="getUsers"
                        selected="selected")
                    .form-group(ng-show="hasModerators")
                        label
                            | Moderators
                        div
                            span.bg-blue( ng-repeat="admin in network.admins track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" )
                                i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeModerator(admin._id)")
                                |   {{admin.profile.firstName}} {{admin.profile.lastName}} &lt;{{admin.email}}&gt;

                    auto-complete(input-model="tempAdmin" placeholder="Moderators" auto-complete-http="getUsers"
                        selected="selectedModerator")

                    hr
                    .text-center.form-group
                        button.btn.btn-block.btn-primary.btn-lg( type="submit" )
                            | {{network._id ? 'Save' : 'Create'}}

                .col-xs-8.col-xs-offset-2.text-center.form-group
                    a.btn.btn-block.btn-default( ui-sref="networks.list" ui-sref-opts="{reload: true}")
                        | Cancel
