.row.login
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-12.xs-no-padding
        .panel.panel-default
            error-message-box( validation-errors="validationErrors" )
            .panel-body
                h3.text-center
                    | {{locale['form'].page['signin'].title}}
                form(novalidate ng-submit="login()")
                    form-input-tag(
                        model="user.email"
                        label="{{locale['form'].label['shared'].email}}"
                        required="true" icon="envelope"
                        regex="validate['email']")
                    form-input-tag(
                        model="user.password"
                        type="password"
                        label="{{locale['form'].label['shared'].password}}"
                        required="true" icon="lock")

                    .form-group.ng-hide(ng-show="vm.error")
                        .red.bold.margin {{error}}


                        //
                            .col-md-6.col-xs-6.form-group
                              label
                                input( type="checkbox" ng-model="rememberMe" )
                                |  {{locale['form'].page['signin'].rememberMe}}
                    .col-xs-12.text-right.form-group.col-xs-offset-0
                        a.text-muted( ui-sref="recoverpassword")
                            | {{locale['form'].page['signin'].forgotPassword}}

                    .col-xs-12.text-center.form-group
                        button.btn.btn-block.btn-primary.btn-lg( type="submit" )
                            | {{locale['form'].button['login']}}

                    .col-sm-6.col-sm-offset-3.col-xs-12.text-center.form-group
                        a.btn.btn-block.btn-primary.btn-lg(href="/api/oauth/linkedin/login" style="background: #1883BB")
                            i.fa.fa-linkedin-square
                            |   LinkedIn

                    .col-sm-6.col-sm-offset-3.col-xs-12.text-center.form-group
                        a.btn.btn-block.btn-primary.btn-lg(href="/api/oauth/facebook/login" style="background: #3D5A98")
                            i.fa.fa-facebook-square
                            |   facebook
              .form-group.text-center
                p.text-center
                  | {{locale['form'].page['signin'].signUp}}
                a.btn.btn-default( ui-sref="users.new")
                  | {{locale['form'].page['signin'].register }}