.row(id="calendarForm")
    .col-xs-12
        form(novalidate)
            form-input-tag(
                model="event.title"
                label="Title"
                required="true")
            .form-group
                label
                    | Description
                textarea( id="wysihtml5-content" placeholder="Enter text ..." ng-model="event.description"
                    style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #e3e3e3; padding: 10px;")
            form-input-tag(
                model="event.url"
                label="URL")
            .row
                .col-xs-6
                    .form-group
                        label
                            |  All Day
                        input( type="checkbox" ng-model="event.allDay" i-check)
                .col-xs-6
                    .form-group
                        label
                            |  Private
                        input( type="checkbox" ng-model="event.isPrivate" i-check)
            .row
                .col-xs-6
                    .form-group
                        label
                            |  Start Date
                        input.form-control( type="text" id="eventStart" ng-model="event.start" datepicker="{{event.start}}")
                .col-xs-6
                    .form-group
                        label
                            |  End Date
                        input.form-control( type="text" id="eventEnd" ng-model="event.end" datepicker="{{event.end}}")
            .form-group(ng-show="hasInvited")
                label
                    | Invites
                div
                    span.bg-blue( ng-repeat="member in event.invited track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" )
                        i.fa.fa-close.pull-right(style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeMember(member._id)")
                        |   {{member.profile.firstName}} {{member.profile.lastName}} &lt;{{member.email}}&gt;

            auto-complete(input-model="tempMember" placeholder="Invite Users..." auto-complete-http="getUsers"
                selected="selected")



