.row
    .col-xs-12
        .panel.panel-default.no-margin
            error-message-box( validation-errors="validationErrors" )
            .panel-body
                h3.text-center
                    | New Article
                form(novalidate id="article-form")
                    .form-group
                        label
                            |   Image
                        br
                        small(ng-show="!article._id")
                            |   Image upload available after article created
                        div(ng-show="article._id")
                            media( media="article.coverImage" container='article' actions="mediaActions" icon="fa-photo")
                    form-input-tag(
                        model="article.title"
                        label="Title"
                        required="true")
                    .form-group
                        label
                            |   Deck
                        textarea.form-control( type="text" class="form-control" ng-model="article.deck")
                    .form-group(ng-show="article.sections.length" ng-class="{'sorting-sections': sortingSections}")
                        div(class="pull-right" ng-show="article.sections.length > 1")
                            i.fa.fa-arrows(style="cursor: pointer; float: right"
                                ng-show="!sortingSections" ng-click="sortSections('#sortable')")
                            i.fa.fa-check(style="cursor: pointer; float: right"
                                ng-show="sortingSections" ng-click="stopSorting( '#sortable') ")
                        label
                            | Body
                        ul.list(style="list-style-type: none; padding: 0;" ui-sortable="sortableOptions" ng-model="article.sections")
                            li.item( ng-repeat="section in article.sections track by $index" style="padding-bottom: 10px;")
                                textarea( type="text" class="form-control" ng-model="section.body" ng-show="section.edit")
                                div(ng-show="!section.edit")
                                    |   {{section.body}}
                                div( ng-show="!sortingSections")
                                    i.fa.fa-close(style="cursor: pointer" ng-click="removeSection($index)")
                                    i.fa.fa-edit(style="padding: 0 5px; cursor: pointer" ng-click="editSection($index)" ng-show="!section.edit")
                                    i.fa.fa-check(style="padding: 0 5px; cursor: pointer" ng-click="saveSection($index)" ng-show="section.edit")
                    .form-group
                        .input-group
                            textarea( type="text" ng-model="tempSection" class="form-control" placeholder="Section (e.g Text, Code, Img, etc.)")
                            span.btn.btn-primary.input-group-addon(style="background: #3C8DDD; color: #fff" ng-click="addSection(tempSection); tempSection = '';")
                                i( class="fa fa-plus" style="width: 30px")
                    hr
            .panel-footer
                .row
                    .col-md-2
                        button.btn.btn-block.btn-danger.btn-lg(ng-click="remove(article._id)" ng-show="article._id")
                            |   Remove
                    .col-md-3.col-md-offset-4
                        a.btn.btn-block.btn-default.btn-lg(data-dismiss="modal" aria-label="Close")
                            |   Cancel
                    .col-md-3.text-center(ng-class="{true: 'col-md-offset-3'}[ article._id ]")
                        button.btn.btn-block.btn-primary.btn-lg(ng-click="save()")
                            |   {{article._id ? 'Save' : 'Create'}}